body {
	background-color:#272727;
	font-family: monospace;
}
p {
	color:white;
}
p.stats {
	display:inline;
}
a, a:active, a:hover, a:visited {
	color: white;
	text-decoration: none;
}
p.button {
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
}
.map {
	margin:auto;
	margin-top: 1%;
	width:60%;
	border-style:solid;
	border-width:2px;
	border-color:white;
	border-top: none;
	border-bottom: none;
	height:98%;
}
.maptext {
	float:inherit;
	margin-left:5%;
	margin-top:10%;
}
.rightSide {
	float:right;
	width:18%;
}
.leftSide {
	float:left;
	width:18%;
}
.sweet-alert {
  background-color: #272727;
}
.sweet-alert h2, .sweet-alert p {
	color: white;
}
