body {
	background-color:#272727;
}
p {
	color:white;
}
.map {
	margin:auto;
	margin-top: 1%;
	width:60%;
	border-style:solid;
	border-width:2px;
	border-color:white;
	border-top: none;
	border-bottom: none;
	height:98%;
}
.maptext {
	float:inherit;
	margin-left:5%;
	margin-top:10%;
}
.rightside {
	float:right;
	width:18%;
}
.leftside {
	float:left;
	width:18%;
}
